# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
*.Rproj
.Rproj.user/
.Rproj.user

# files
temp.R

# directories
Test_data/
Temp/
Bee_data/

# misc
dismiss_manual.pdf
